name: DNF Crawler

on:
  schedule:
    - cron: '0 0,12 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    # [중요] 시스템 패키지 설치 (크롬, xvfb)
    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable xvfb

    # [중요] 파이썬 패키지 설치 (pyvirtualdisplay 추가)
    - name: Install Python Dependencies
      run: |
        pip install selenium gspread google-auth pyvirtualdisplay webdriver-manager

    - name: Run script
      env:
        GDRIVE_API_KEY: ${{ secrets.GDRIVE_API_KEY }}
      run: python main.py
