name: DNF Crawler

on:
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    # [중요] 크롬 브라우저와 드라이버 자동 설치
    - name: Setup Chrome & ChromeDriver
      uses: browser-actions/setup-chrome@latest
      with:
        chrome-version: stable

    - name: Install dependencies
      run: |
        pip install selenium gspread google-auth webdriver-manager

    - name: Run script
      env:
        GDRIVE_API_KEY: ${{ secrets.GDRIVE_API_KEY }}
      run: python main.py
