name: DNF Crawler

on:
  schedule:
    - cron: '0 0 * * *'   # KST 09:00
    - cron: '0 12 * * *'  # KST 21:00
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Install Python Dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run script
      env:
        GDRIVE_API_KEY: ${{ secrets.GDRIVE_API_KEY }}
      run: python main.py
